.idea/*
OpenRedu/.idea/*
OpenRedu/reduMobileWebCachedImageView/build/*
OpenRedu/reduMobileViewPagerIndicator/build/*
OpenRedu/reduMobileViewPagerIndicator/build/*
OpenRedu/reduMobileAndroidPushRefresh/build/*
OpenRedu/reduMobileAndroidPushRefresh/build/*
OpenRedu/reduandroid/build/*

OpenRedu/openReduMobileWebCachedImageView/build/*
OpenRedu/openReduMobileViewPagerIndicator/build/*
OpenRedu/openReduMobileViewPagerIndicator/build/*
OpenRedu/openReduMobileAndroidPushRefresh/build/*
OpenRedu/openReduMobileAndroidPushRefresh/build/*
OpenRedu/openReduandroid/build/*


