.idea/*
OpenRedu/.idea/*
OpenRedu/reduMobileWebCachedImageView/build/*
OpenRedu/reduMobileViewPagerIndicator/build/*
OpenRedu/reduMobileViewPagerIndicator/build/*
OpenRedu/reduMobileAndroidPushRefresh/build/*
OpenRedu/reduMobileAndroidPushRefresh/build/*
OpenRedu/reduandroid/build/*



